@charset "utf-8";

/*.html,*/
.__absolute_displayArea_right,
.__absolute_displayArea,
body
{
	overflow-x: hidden;
}

/*スクロールバーの横幅指定*/
body::-webkit-scrollbar
{
	width: 7px;
}


/*スクロールバーの軌道*/
/*スクロールバーの背景色・角丸指定*/

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*スクロールバーの動く部分*/
/*スクロールバーの色・角丸指定*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}



#textarea {
  /*width: 200px;  未使用・テスト版。ジャバあり*/
  /*max-height: 500px;*/
  padding: 8px;
  line-height: 20px;
}


/* ■　a：文字色　■ */

.__text_shadow_no {
	text-shadow:none;
}


/* ■ hover ■ */
.__a_hover:hover,
.__a_hover:hover span,
.__a_hover:hover div ,
a:hover {
	/*font-weight: bold;*/
	color:#fff;
	text-shadow:
	hsla(180,63%,50%,1) 0px 0px 1px,
	hsla(180,63%,50%,1) 0px 0px 2px,
	hsla(180,63%,50%,1) 0px 0px 4px,
	hsla(180,63%,50%,1) 1px 1px 0px,
	hsla(180,63%,50%,1) -1px 1px 0px,
	hsla(180,63%,50%,1) 1px -1px 0px,
	hsla(180,63%,50%,1)  -1px -1px 0px;
}

.__a_hover:hover,
.__a_hover:hover span,
.__a_hover:hover div
{
	box-shadow:
	hsla(180,63%,50%,1) 0px 0px 1px,
	hsla(180,63%,50%,1) 0px 0px 2px,
	hsla(180,63%,50%,1) 0px 0px 4px,
	hsla(180,63%,50%,1) 1px 1px 0px,
	hsla(180,63%,50%,1) -1px 1px 0px,
	hsla(180,63%,50%,1) 1px -1px 0px,
	hsla(180,63%,50%,1)  -1px -1px 0px;
}


/* ..active*/
a:active
{
	color:hsla(145,100%,75%,1);
}

/* ..【a.二重】*/


.__edit_color a:hover,
.__edit a:hover{
	/*color:#fff;*/
	text-shadow:
	red 0px 0px 1px,
	red 0px 0px 2px,
	red 0px 0px 4px,
	red 1px 1px 0px,
	red -1px 1px 0px,
	red 1px -1px 0px,
	red -1px -1px 0px;
	background-color:transparent
}



/* ..active*/
.__edit a:active{
	color:black;
	text-shadow:
		hsla(0,63%,50%,1) 0px 0px 2px,
		hsla(0,63%,50%,1) 0px 0px 1px;
}

.site-main a
{
	display: inline-block;
}


a:hover{
	position:relative;	/*z-indexとセット*/
	z-index:2;
}

/* 【mega-menu】‘170930'*/
.mega-menu-wrap,
#mega-menu-menu-1{
	z-index:3;
}

/* .【widget】ウェジェット*/
.widget a:hover {
	font-weight: bold;
	color:#fff;
}


/* ..ウェジェットエリア*/
.widget-area{
	font-size:small;
	margin: 0 0px 0 5px;
}

.widget-area .widget ol {  /*関連*/
	font-size: 9pt ;
	white-space:normal;/*改行する*/
	padding-left: 0px;
	margin: 0.1em 0px 0.1em 15px;
	line-height: 150%;
}

.widget-area .widget ol { list-style-type: square;}

.widget-area .widget ul{  /*目次*/
	font-size: 10pt ;
	white-space:normal;/*改行する*/
/*	white-space: nowrap; 改行しない*/
	margin: 0.1em 0px 0.1em 0.5em;
	padding-left: 0em;
	line-height: 150%;
}
.widget-area .widget .category ul{
	font-size: 8pt ;
}


/* searchバー*/
.searchfield {
	padding: 5px;
	margin-top: 10px;
	font-size: 14px;
	width: 100%;
}
.searchsubmit {
	width: 35px;
	font-family: FontAwesome;
	font-size: 20px;
	border: none;
	background: transparent;
	cursor: pointer;
}

input.searchsubmit{
	height: 30px;
	margin:0px 0 0 0;
	padding: 0px 0 0px 0 ;
	vertical-align:bottom;
}


.__kx_search{
	width: 300px;
}


.__side_search{
	width: 240px;
}

.__side_search h6{
	border: 0;
	background: red;
}




/* ..【widget-area】見出し*/
.widget-area .widget h2,
.widget-area .widget h4,
.widget-area .widget h5,
.widget-area .widget h6
 {
	position:relative;	/*z-indexとセット*/
	z-index:-1;
	margin: 10px 5px 0.2em 0;
	padding: 0 0 0.2em 0.1em;
	background: none;
	border-top: 0px solid #292C51;
	border-left: 0px solid #292C51;
	border-right: 0px solid #292C51;
 }
.widget-area .widget h2 {
	position:relative;	/*z-indexとセット*/
	z-index:-1;
	font-weight: bold;
	font-size: 12pt ;
	color: #000 ;
	border-bottom: 2px solid #292C51;
	line-height: 50%;
}
.widget-area .widget h3 {
	font-size: 9pt ;
	color: #000 ;
}
.widget-area .widget h4 {
	font-size: 9pt ;
	color: #000 ;
}
.widget-area .widget h5 {
	font-size: 9pt ;
	color: #000 ;
}
.widget-area .widget h6 {
	position:relative;	/*z-indexとセット*/
	z-index:-1;
	font-size: 9pt ;
	border-bottom: 1px solid #eee;
}
/* .【hr】*/
hr {
	margin: 10px 20px 10px 20px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #eee;
	background-color: #F8F8F8;
}

hr.__content_end{
	margin: 3em 0 2em 0;
	width: auto;
	line-height:100%;
}


.hr003{
	width: 99%;
	line-height:100%;
	border-bottom: 1px solid #ccc;
	background-color: white;
}



.__hr_more{

	border: none;
	margin: auto;
	text-align:center;
	width: 90%;
	line-height:0px;
}


/* .【table】
*/
table {
/*	line-height:10pt;*/
	font-size:small;
	margin : 0px 0px 0px 0px;
}

/* blockquote	*/
blockquote{
	background-color:hsla(0,0%,50%,.1);
	margin: 10px 0 0.5em 3em;
	border:1px dottedhsla(0,0%,50%,.5);
	padding: 5px 0 5px 0;
	border-radius: 5px;
}




/* .search*/
.search{
	line-height: 100%;
}
.search p{
	margin: 0em 0em 0em 20px;
}
.search span.edit-link {
	font-size: 8pt ;
	line-height: 135%;
	margin: 0em 0em 0em 1em;
}
h4.entry-title {
	background:none;
	font-weight:normal;
	font-size:10pt;
	/*color: #000;*/
	margin: 10px 0em -30px 20px;
	padding: 0px 0px 0px 0;
	border-bottom: 0px;
	line-height: 100%;
}
h6.entry-title {
	font-weight:normal;
	font-size: 12pt ;
	color: #000;
	margin: 1em 0em -1.5em 0em;
	padding: 0px 0px 0px 2em;
	border-bottom: 0px;
	line-height: 100%;
}

.entry-summary p{
	font-weight:normal;
	font-size: small;
	margin: 1em 5em -1.5em 0em;
	padding: 0px 0px 0px 2em;
	border-bottom: 0px;
	line-height: 150%;
}


.search footer.entry-footer{
	font-style:normal;
	color: green;
	line-height: 135%;
	margin: 1.5em 5em 0em 2.75em;
	word-break:break-all;
}

.search footer.entry-footer a { text-decoration: none; }
.search footer.entry-footer a:link { color: darkseagreen; }
.search footer.entry-footer a:visited { color: darkseagreen; }
.search footer.entry-footer a:hover { color: #ff0000; }
.search footer.entry-footer a:active { color: red; }

footer.entry-footer{
	font-style:normal;
	font-size: 10pt ;
	color: green;
	line-height: 135%;
	margin: 1.5em 5em 0em 2em;
	word-break:break-all;
}
/* ..右寄せ/センタリング/左寄せ*/
.__text_right		{text-align: right;}	/*右寄せ*/
.__text_center	{text-align: center;}	/*センタリング*/


/* error系 */
.__error_fixed_left_bottom__
{
	z-index: 3;
	position		: fixed;
	color				: white;
	font-size		: small;
	bottom			:	0px;
	left				: 0px;
	padding			: 0px 10px 0px 10px;
	border-radius: 0 10px 0 0;
}


.__error_fixed_left_bottom__{
	border			: solid 2px red;
	background	:repeating-linear-gradient(45deg, hsl(0,100%,20%), hsl(0,100%,20%) 10px,black 10px, black 20px);
}



/* .absolute*/
.__absolute_displayArea{
	position: fixed;
	left:0px;
	bottom:0px;
	z-index:3;
	max-height: 75%;
	width: 650px;
}

.__absolute_displayArea_right{
	position: fixed;
	right:0px;
	top:120px;
	z-index:3;
	max-height: 75%;
	width: 650px;
}


.__absolute_displayArea_rignt::-webkit-scrollbar,
.__absolute_displayArea::-webkit-scrollbar {
	display:none;
}

/* .【装飾-背景】*/

.__back_0					{ background:hsla(0,100%,50%,1); }

@keyframes blink{
	0% {opacity:1;}
	100% {opacity:0;}
}




/* ..Font-size フォントサイズ  */
.__xxsmall	{ font-size:xx-small;}
.__xsmall		{ font-size:x-small;}
.__small		{ font-size:small;}
.__medium		{ font-size: medium; }
.__large		{ font-size: large; }
.__xlarge		{ font-size: x-large; }
.__xxlarge	{ font-size: xx-large; }


/*■font-weight　太字■*/
.__font_weight_normal	{ font-weight:normal;	}
.__font_weight500	{ font-weight: 500;	}

/* 文字色*/
.__color_white			{ color:white;}
.__color_red				{ color:red;}
.__color_gray				{ color:gray;}

/*	白	*/
.__a_white a,
.__a_white a:link,
.__a_white a:visited,
.__a_white{
	color:hsl(0,0%,85%);
}

.__text_shadow_black1_01{
	text-shadow:
	hsla(180,0%,0%,1) 1px 1px 1px,
	hsla(180,0%,0%,1) -1px 1px 1px,
	hsla(180,0%,0%,1) 1px -1px 1px,
	hsla(180,0%,0%,1)  -1px -1px 1px;
}


.__text_shadow_change_black,
.__text_shadow_black1{
	text-shadow:
	hsla(180,0%,0%,1) 1px 1px 0px,
	hsla(180,0%,0%,1) -1px 1px 0px,
	hsla(180,0%,0%,1) 1px -1px 0px,
	hsla(180,0%,0%,1)  -1px -1px 0px;
}



.__text_shadow_black1_02
{
	text-shadow:
	hsla(180,0%,25%,1) 1px 1px 1px,
	hsla(180,0%,25%,1) -1px 1px 1px,
	hsla(180,0%,25%,1) 1px -1px 1px,
	hsla(180,0%,25%,1)  -1px -1px 1px;
}

/* 丸み */

.__radius_kumi_top20{
	padding: 0px 1em 0px 0.9em;
	border-radius: 7px 20px 0px 0px / 7px 20px 0px 0px;
	margin-left :0;
}




/* hover 合同要素 hidden（js）*/
table.__hidden_back,
.__hidden_back{
	background-color:hsla(0,20%,0%,0.1);
	border-right:  3px solid hsla(0,0%,0%,0.3);
	border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
	box-shadow:
		0px 0px 10px hsla(0,50%,50%,0.25),
		5px 5px 20px hsla(0,50%,50%,0.125);
}
.__hidden_back{	transition: all 5s;	}

/* java系*/
.__hidden{
	display: none;
}

/* ■ 引き出し ■ */
hr.__hidden_box{
	border-bottom: 1px solid red;
	text-align: center;
	height: 20px;
}


hr.__hidden_box:after {
	display: inline-block;

	font-size: 8px;
	content: 'OPEN';
}


.__hidden_box div{
  display:none;
}

.__hidden_box input[type="checkbox"]:checked ~ div {
  display: block;
}



.__hidden_box input[type="checkbox"]:checked ~ div{
	border: 1px solid hsla(0,25%,90%,1);
	border-radius: 10px;
}

.__hidden_box .option-input01,
.__hidden_box .option-input01:before,
.__hidden_box .option-input01:checked::before,
.__hidden_box .option-input02,
.__hidden_box .option-input02:before,
.__hidden_box .option-input02:checked::before	{
	width: 200px;
}

.__hidden_box .option-input01,
.__hidden_box .option-input01:before,
.__hidden_box .option-input01:checked::before	{
	height: 13px;
}

.__hidden_box .option-input02,
.__hidden_box .option-input02:before,
.__hidden_box .option-input02:checked::before	{
	height: 20px;
}

.__hidden_box .option-input01,
.__hidden_box .option-input02 {
	position: relative;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	border: none;
	outline: none;
	-webkit-appearance: none;
					appearance: none;

}

.__hidden_box .option-input01:before,
.__hidden_box .option-input01:checked::before,
.__hidden_box .option-input02:before,
.__hidden_box .option-input02:checked::before	{
	position: absolute;
	display: inline-block;
	padding: 2px 0 0 0 ;
	font-weight:bold;
	text-align: center;
}



.__hidden_box .option-input01:before,
.__hidden_box .option-input01:checked::before	{
	font-size: 8px;
	line-height: 10px;
}

.__hidden_box .option-input02:before,
.__hidden_box .option-input02:checked::before	{
	font-size: 15px;
	line-height: 20px;
}


.__hidden_box .option-input01:before,
.__hidden_box .option-input02:before {
	content: '──　Hidden　──';
}


.__hidden_box .option-input01:checked::before,
.__hidden_box .option-input02:checked::before
{
	content: '──　✔　CLOSE　──';
}

.__hidden_box .option-input01,
.__hidden_box .option-input02{
	margin: 0 0 0 10px;
}



.__hidden_box .option-input01,
.__hidden_box .option-input02 {
	background:hsla(0,100%,50%,.33);
}


.__hidden_box .option-input01:hover,
.__hidden_box .option-input02:hover {
	background:hsla(180,100%,50%,1)
}



.__hidden_box .option-input01:checked,
.__hidden_box .option-input02:checked {
	background:hsla(0,100%,50%,.75)
}


.__reload1{
	visibility:hidden;
	opacity : 0;
	position: absolute;
	top:150vh;
	left:-50px;
	transition-duration:0.1s;
	transition-delay:0s;

}


.__reload2{
	position:fixed;
	top:40px;
	left:5px;
	z-index:3;
	background: hsla(0,100%,33%,1);
	color: white;
	width: 230px;
	height: 100px;
	font-weight: bold;
	font-size: large;
	padding: 10px 10px 10px 10px;
	margin : 0px 0 0 0px;
	border:20px solid hsla(45,0%,0%,1);
	border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
	transition-duration:0.1s;
	transition-delay:0s;
	text-align: center;
	animation-name : bnr-animation; animation-duration : 20s;
}
@keyframes bnr-animation{
  0%		{width: 230px; height: 100px;	border:20px solid hsla(45,0%		,0%,1);		background-color: hsla(0,100%,33%,1);transform: rotate(0deg);}
  50%		{width: 150px; height: 200px; border:5px	solid hsla(30,100%	,50%,1);	background-color: hsla(270,100%,0%,1);}
  100%	{width: 230px; height: 100px; border:20px solid hsla(45,0%		,0%,1);		background-color: hsla(0,100%,33%,1); transform: rotate(120deg);}
}



/* .【非表示系】
/* ..【投稿日・投稿者などを消す】
*/
.entry-utility,
.entry-meta {
	display: none;
}
/* ..【「次の投稿」「前の投稿」を非表示】
*/
.nav-links {
display: none;
}
/* ..スクロールを消す*/
.scroll-off {
  overflow: hidden
}


/* ..hidden*/
.hidden{
	display: none;
}


.kx-sidebar {
    /* 重要：高さを画面いっぱいに固定する */
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    height: 100vh;
    /*width: 280px;*/ /* 任意の幅 */

    /* 重要：visibleではなく、スクロールを許可する設定にする */
    overflow-y: auto;
    overflow-x: hidden;

    /* スクロールバーを左に持ってくるための設定 */
    direction: rtl;
    z-index: 3;    /* 他の要素より上に配置 */
}

/* 中身の文字方向を左から右に戻す */
.kx-sidebar > * {
    direction: ltr;
}

/* 左端の極細スクロールバー設定 */
.kx-sidebar::-webkit-scrollbar {
    width: 1px;
}
.kx-sidebar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}


/*ショートコード関連*/
.kxsc_update{
	position: fixed;
	/*text-align: center;*/
	/*background: hsla(0,100%,33%,1);*/
	color: white;
	font-weight: bold;
	font-size: large;
	bottom:25px;
	left:0px;
	/*width:900px;*/
	padding: 10px 0 10px 250px;
	margin : 0px 0 0 0px;
	z-index: 3;
	border:20px solid hsla(45,0%,0%,1);
	border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
	white-space: normal;

  background: linear-gradient(-45deg, hsla(0,100%,33%,1) 25%, #000 25%, #000 50%, hsla(0,100%,33%,1) 50%, hsla(0,100%,33%,1) 75%, #000 75%, #000);
  animation: stripeBg 30s linear 0s infinite;
}
@keyframes stripeBg {
	0%		 {width: 1920px;	border:20px solid hsla(45,100%,50%,1);	border-radius: 0px 0px 0px 0px / 0px 0px 0px 0px;}
	10%		 {width: 1778px;	border:20px	solid hsla(45,0%,0%,1);			border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;}
  100%	 {width: 500px;		border:20px	solid hsla(0,100%,50%,1);			border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;}
	/*0% {background-position: 0 0;}
 100% {background-position: 100% 0;}*/
 }

 /* ■ kxadk系 ■ 2026-05-09 */

.__kxad_content p
{
	margin-bottom:1em;
}

/* ■ kxct change_any_texts ■ */
/*置換用*/
.__kxct_maru
{
	margin-left:-20px;
}




.__kxct_sikaku1,
.__kxct_sikaku2{
	margin-left:-20px;
	margin-right:2px;
	vertical-align: middle;
}

.__kxct_sikaku1{
	opacity: .66;
}

.__kxct_sikaku2{
	opacity: .2;
}


.__kxct_sikaku_text
{
	font-weight : bold;
	padding: 0px	6px;
	border-radius : 5px;
	text-shadow :
	hsla(180 , 0% , 0% ,1) 0px 0px 1px ,
	hsla(180,0%,0%,1) 0px 0px 2px ,
	hsla(180,0%,0%,1) 0px 0px 4px ,
	hsla(0,0%,0%,1) 1px 1px 0px,
	hsla(0,0%,0%,1) -1px 1px 0px,
	hsla(0,0%,0%,1) 1px -1px 0px,
	hsla(0,0%,0%,1) -1px -1px 0px;
}


.__kxct_triangle_left_small_red01{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 10px 5px 0;
	border-color: transparent hsla(	0		,100%	,42%	,.7) transparent transparent;
}

.__kxct_triangle_right_small_red01{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent hsla(	0		,100%	,42%	,.7);
}

/*■form・インプット系■*/

select:hover,
select:focus{
	/*border: 2px	solid	hsla(	180	,	100%	,	50%);*/
	box-shadow:
	hsla(180,63%,50%,1) 1px 1px 3px,
	hsla(180,63%,50%,1) -1px 1px 3px,
	hsla(180,63%,50%,1) 1px -1px 3px,
	hsla(180,63%,50%,1) -1px -1px 3px;
}

select:hover,
select:focus,
input:hover,
input:focus	,
textarea:focus,
textarea:hover{
	background-color:hsla(90,100%,100%,1);
	color:black;
}

input.__btn0{
	background-color:hsla(0,0%,50%,.25);
}


/*高さ、幅は各部指定*/
button.__btn0,
input.__btn0{
	border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
	border: none;
}


button.__btn0,
button.__btn
{
	cursor				:pointer;
	border				:none;
	color					:#fff;
	font-weight		:bold;
	background		:hsla(150,25%,10%,.3);
	padding				:1px 1px 1px 1px;
}
input.__btn0:hover,
button.__btn0:hover
{
	border: none;
	color: navy;
	background: greenyellow;
  /*cursor: pointer;*/
  /*display: inline-block;*/
  /*font-size: 1em;*/
}



/*　■　［］　反転：270系　■　角括弧（大括弧）　■+丸み■　*/
.__kaku_kakko0
{
	color:			hsla(0,100%,100%,1);
	background-color:	hsla(270,100%,66%,.3);
}


/*　■　〚〛　薄い：150系　■　背景： 二重大括弧　　■+丸み■　*/
.__kaku_kakko2
{
	color:			hsla(0,100%,100%,1);
	border:2px solid hsla(270,100%,85%,1);
	/*border:1px solid hsla(150,100%,33%,1);*/
}




/* ..〔〕【青系】文字：甲括弧*/
.__kou0{
	font-weight:	bold;
}

/* ..《》二重山括弧（0）：赤*/
.__yama0
{
	color			: red;
	font-weight	: bold;
}


/* ..‹›	一重山括弧.　：黄色系+背景　■+丸み■　*/
.__yama1
{
	background-color : hsla(90,100%,50%,.05 ) ;
	border  : 1px solid hsla(90 ,100% , 25% ,1 ) ;
	margin  : 0 4px ;
	padding : 1px 4px ;
}


/*　■　«»	二重山括弧.　：赤系：背景：注意系　■+丸み■　*/
.__yama2 {
	background-color:	hsla(0,100%,50%,.2);
	border:1px solid hsla(0,100%,20%,1);
}

/* ..‘’シングル引用*/
.__koku {
	/*border:1px solid hsla(0,100%,20%,1);*/
	background:hsla(0,0%,0%,0.33);
	padding: 0px	6px;
}

.__koku
{
	color : white ;
	font-weight : bold;
	border-radius : 5px 5px 5px 5px / 5px 5px 5px 5px;

	text-shadow :
	hsla(180 , 0% , 0% ,1) 0px 0px 1px ,
	hsla(180,0%,0%,1) 0px 0px 2px ,
	hsla(180,0%,0%,1) 0px 0px 4px ,
	hsla(0,0%,0%,1) 1px 1px 0px,
	hsla(0,0%,0%,1) -1px 1px 0px,
	hsla(0,0%,0%,1) 1px -1px 0px,
	hsla(0,0%,0%,1) -1px -1px 0px;
}

/*■　丸み　■*/
.__kaku_kakko2,
.__kou0,
.__usuku,
.__waku,
.__yama2{
	font-weight			:bold;
	margin-left			:1px;
	padding-left		:4px;
	padding-right		:4px;
}

.__kaku_kakko0,
.__kou0,
.__usuku,
.__yama1,
.__yama2{
	border-radius		:5px;
}

.__waku{
	border-radius		:10px;
}




.__inyou_d1{
	margin-left: 5px;
	margin-bottom:  3px;
}

.__inyou_d2{
	margin-left: 		5px;
	margin-bottom:  3px;
	font-size: large;
}

/* ■ script ■ op系 ■ */
.question
{
	cursor: pointer;
	font-weight: bold;
}

/*java・ひとつだけ展開*/
.__js_hover_UpperLINKq:hover,
.question:hover,
.question{
	display: inline-block;
}


/*:hover*/
.__js_hover_UpperLINKq:hover,
.question:hover
{
	transition-duration:.1s;
	transition-delay:.1s;

	font-weight: bold;
	color:#fff;
	/*background-color:transparent;*/
	text-shadow:
	hsla(180,63%,50%,1) 0px 0px 1px,
	hsla(180,63%,50%,1) 0px 0px 2px,
	hsla(180,63%,50%,1) 0px 0px 4px,
	hsla(180,63%,50%,1) 1px 1px 0px,
	hsla(180,63%,50%,1) -1px 1px 0px,
	hsla(180,63%,50%,1) 1px -1px 0px,
	hsla(180,63%,50%,1)  -1px -1px 0px;
}

.__js_hover_UpperLINKq:hover,
.question:hover{
	transform:scale(1.1);
}


.__js_hover_UpperLINKa
{
	position: absolute;
	color: #fff;
	background:hsla(0,0%,0%,.85);
	width: auto;
	display: none;
	padding: 5px 10px 5px 10px;
	border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
	z-index: 2;
	left: 0;
	top:25px;
}


.__js_hover_UpperLINKa,
.answer
{
	display: none;
}






#loader{
	position: fixed;
	display:table;

	left: 0px;
	top: 0px;
	height: 30px;
	width: 100vw;
	/*background:red;*/
	/*border-bottom: solid 3px #000;*/

	z-index: 100000;
	text-align: center;
	/*color:#fff;*/
	/*font-size: 50px;*/
	/*border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;*/
	animation: loader-ani 20s linear infinite;
}
@keyframes loader-ani{
  0%		{width: 100vw;	background-color: hsla(	180		,100%	,50%	,.7);}	/*transform: rotate(0deg);*/
  25%		{width: 0vw;		background-color: hsla(	90		,100%	,50%	,.7);}
	50%		{width: 100vw;	background-color:	hsla(	0			,100%	,50%	,.7);}
	75%		{width: 0vw;		background-color: hsla(	0			,0%		,0%		,.7);}
	100%	{width: 100vw;	background-color: hsla(	180		,100%	,50%	,.7);}	/*transform: rotate(0deg);*/

}


input[type="checkbox"] {
	opacity: 1;
	background-color: #00acc1;
	border-color: #00acc1;
	border-radius: 4px;
}

/* ■ script系 ■ */


.__js_show,
.__js_show_content
{
	display: none;
	/*
	*/
}


@keyframes flash{
  50% {
    opacity: 0;
  }
}

